/*
The styleguide is hosted under http://localhost:3000/styleguide.html
*/
body {
    margin:0;
    padding:1px;
    background: #888888;
    font-family: Helvetica,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

header {
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 3px;
    text-align: right;
    color: #aaaaaa;
}
header::after {
    content: "";
    display: block;
    clear: both;
}

header a {
    color: #dddddd;
}

.reset-selection {
    text-decoration: inherit;
}

.hide-green {
    text-decoration: inherit;
    margin-left: 1em;
}

.environment-wrapper {
    margin: 1px 1px 25px 1px;
    padding:0px;
    background: #888888;
}

.patchwork {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: left;
    align-items: left;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    margin:1px;
    padding:0;
    position: relative;
    perspective: 0px;
}

.column-patchwork {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.patch {
    font-weight: 300;
    border: 1px solid #C8C8C8;
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    line-height: 26px;
    font-size: 18px;
    letter-spacing: 1px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.patch:hover {
    height: auto;
    max-height: 400px;
    min-height: 200px;
}

.green {
    background-color: #22A954;
    color:white;
}

.red {
    background-color: #EA4F2F;
    color:white;
}

.yellow {
    background-color: #EA902F;
    color:white;
}

.symbol {
    background-size: 100%;
    display: inline-block;
    width: 88px;
    height: 88px;
    vertical-align: top;
}

.green.symbol {
    /* Font-Awesome check */
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjcxIDU2NnEwIDQwLTI4IDY4bC03MjQgNzI0LTEzNiAxMzZxLTI4IDI4LTY4IDI4dC02OC0yOGwtMTM2LTEzNi0zNjItMzYycS0yOC0yOC0yOC02OHQyOC02OGwxMzYtMTM2cTI4LTI4IDY4LTI4dDY4IDI4bDI5NCAyOTUgNjU2LTY1N3EyOC0yOCA2OC0yOHQ2OCAyOGwxMzYgMTM2cTI4IDI4IDI4IDY4eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}

.yellow.symbol {
    /* Font-Awesome minus */
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjAwIDczNnYxOTJxMCA0MC0yOCA2OHQtNjggMjhoLTEyMTZxLTQwIDAtNjgtMjh0LTI4LTY4di0xOTJxMC00MCAyOC02OHQ2OC0yOGgxMjE2cTQwIDAgNjggMjh0MjggNjh6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}

.red.symbol {
    /* Font-Awesome times */
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNDkwIDEzMjJxMCA0MC0yOCA2OGwtMTM2IDEzNnEtMjggMjgtNjggMjh0LTY4LTI4bC0yOTQtMjk0LTI5NCAyOTRxLTI4IDI4LTY4IDI4dC02OC0yOGwtMTM2LTEzNnEtMjgtMjgtMjgtNjh0MjgtNjhsMjk0LTI5NC0yOTQtMjk0cS0yOC0yOC0yOC02OHQyOC02OGwxMzYtMTM2cTI4LTI4IDY4LTI4dDY4IDI4bDI5NCAyOTQgMjk0LTI5NHEyOC0yOCA2OC0yOHQ2OCAyOGwxMzYgMTM2cTI4IDI4IDI4IDY4dC0yOCA2OGwtMjk0IDI5NCAyOTQgMjk0cTI4IDI4IDI4IDY4eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}

.status-patch {
    padding:3px;
    display: flex;
    flex-direction: column;
    margin:1px;
}

.status-patch .system a {
    font-size: 26px;
    margin-top: 1px;
    word-wrap:break-word;
    text-decoration: none;
    color:white;
    text-transform: none;
}

.status-patch .environment {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    margin-top: 2px;
}

.status-patch .state {
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    font-size: 18px;
}

.status-patch:hover .state {
    display:none;
    overflow: hidden;
}

.status-patch .detail {
    display:none;
    overflow: hidden;
}

.status-patch:hover .detail {
    overflow-y: auto;
    overflow-x: hidden;
    margin:8px 0px 10px 0px;
    padding:0;
    flex-grow: 1;
    font-size: 11px;
    line-height: 14px;
    text-align: left;
    display:block;
    letter-spacing: 0.5px;
}

.detail::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

.detail::-webkit-scrollbar {
    width:5px;
    background-color: rgba(0,0,0,0);
}

.detail::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.75);
}

.status-patch .meta-data {
    line-height: 5px;
    font-size: 11px;
    font-weight: 300;
}

.overlay {
    position:fixed;
    opacity: 0.25;
    bottom: 1%;
    right: 1%;
    z-index: 10;
    padding:10px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;

    letter-spacing: 4px;
}

.overlay:hover {
    opacity: 1;
}

.overlay a {
    color: white;
    text-decoration: none;
}

.joblist {
    list-style: none;
    margin:0;
    padding:0;
    margin: 20px 0px 10px 0px;
    letter-spacing: 0.5px;
    font-size: 11px;
}

.job {
    background-color: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 2px 2px 2px 2px;
}

.job:last-child {
    border-bottom: none;
}

.job .symbol {
    text-align: center;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border:1px solid white;
    margin: 0 5px 0 0;
    padding: 1px;
    font-size: 10px;
}

.url a {
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color:#3E34C8;
}

.url {
    padding: 1px;
    margin: 0;
    line-height: 14px;
    word-wrap: none;
    overflow: hidden;
    white-space: nowrap;
}

.patch:hover .url {
    padding:1px;
    margin:0;
    line-height: 14px;
    word-break: break-all;
    word-wrap: none;
    overflow: visible;
    white-space: normal;
}

/* Loading animation */

.loading-animation {
    animation-name: foreground;
    animation-fill-mode: forwards;
    animation-delay: 10s;

    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    color: transparent;

    line-height: 100vh;
    text-align: center;

    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.loading-animation ~ * {
    position: relative;
}

@keyframes foreground {
    from { z-index: -1; background-color: transparent; color: transparent; }
    to { z-index: 1; background-color: rgba(255, 255, 255, 0.5); color: #333; }
}

.loading-animation .dot1,
.loading-animation .dot2,
.loading-animation .dot3 {
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 10s;
    animation-timing-function: steps(1, start);
}
.loading-animation .dot1 {
    animation-name: reveal1;
}
.loading-animation .dot2 {
    animation-name: reveal2;
}
.loading-animation .dot3 {
    animation-name: reveal3;
}

@keyframes reveal1 {
    0%, 25% { color: transparent; }
    100% { color: #333; }
}
@keyframes reveal2 {
    0%, 50% { color: transparent; }
    100% { color: #333; }
}
@keyframes reveal3 {
    0%, 75% { color: transparent; }
    100% { color: #333; }
}
